.pagination > li {
  cursor: pointer;
  @include user-select(none);
}

.notifications-container {
  position: fixed;
  top: 80px;
  right: 12px;
  z-index: 99999;
}

.notification {
  position: relative;
  padding: 15px 15px 15px 20px;
  width: 300px;
}

li {
  list-style: none;
}

fieldset.scheduler-border {
  border: 1px solid #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd;
}

legend.scheduler-border {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em 0 0;
    line-height: 1.5em;
    color: #818078;
    background-color: #fff;
  }
}

.input-group .form-control {
  z-index: auto;
}
