.pagination > li {
  cursor: pointer;
  @include user-select(none);
}

.notifications-container {
  position: fixed;
  top: 80px;
  right: 12px;
  z-index: 99999;
}

.notification {
  position: relative;
  padding: 15px 15px 15px 20px;
  width: 300px;
}

li {
  list-style: none;
}

fieldset.scheduler-border {
  border: 1px solid #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #ddd;
  box-shadow: 0px 0px 0px 0px #ddd;
}

legend.scheduler-border {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em 0 0;
    line-height: 1.5em;
    color: #818078;
    background-color: #fff;
  }
}

.input-group .form-control {
  z-index: auto;
}

.vlink {
  color: #319db5;
  /*border-bottom: 1px dashed #319db5;*/
  cursor: pointer;
}

.row-editable {
  background-color: #faf2cc;
}

.upload-manager {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #cccccc;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 25px;

  footer {
    background: #f4f4f4;
    border-top: 1px solid #dddddd;
    padding: 10px;
  }

  .fileinput-button {
    position: relative;

    input {
      position: absolute;
      transform: translate(-50px, -250px) scale(1);
      opacity: 0;
      width: 600px;
      height: 260px;
    }
  }
  .js-files .row {
    padding-top: 5px;
  }
  .im_upload_drop_label {
    text-align: center;
    color: #7f92a5;
  }
  .im_upload_dropbox_inner {
    background: #fff;
    text-align: center;
    color: #7f92a5;
    font-size: 1.09em;
    border: 1px dashed #a3b6c9;
    padding: 0 5px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 200px;
  }
  .dropbox-container {
    display: table;
    width: 100%;
  }
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: "";
}

.td-alert {
  background-color: #ffb3d9 !important;
}
